<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default_layout}">

<head>
    <script type="text/javascript" src="/home.js"></script>
</head>
<th:block layout:fragment="content">
    <!-- 날짜 선택 영역 추가 -->
    <div id="dateRange">
        <label for="startDatetime">시작일:</label>
        <input type="datetime-local" id="startDatetime" name="startDatetime">
        <label for="endDatetime">종료일:</label>
        <input type="datetime-local" id="endDatetime" name="endDatetime">
    </div>
    <!-- 회원 검색창 -->
    <div id="memberSearch">
        <select id="memberSearchType">
            <option value="email">이메일</option>
            <option value="username">이름</option>
            <option value="carNumber">차량번호</option>
        </select>
        <input type="text" id="memberSearchValue" placeholder="회원 검색...">
    </div>
    <!-- 전체 회원 충전 이력 다운로드 -->
    <div id="downloadSummaryChargeHistory">
        <button id="downloadSummaryButton">전체 Excel</button>
    </div>
    <!-- 검색된 회원 목록 -->
    <div id="members"></div>

    <!-- 사이트 목록 -->
    <div id="sites">
        <select id="siteNames">
            <option th:each="siteName : ${siteNames}" th:value="${siteName}" th:text="${siteName}"></option>
        </select>
    </div>

    <!-- 충전기 목록 -->
    <div id="chargers"></div>
</th:block>

</html>